# Files generated with gsch2pcb
*.cmd
*.net

# Log files
pcb.log

# Backup files
*.new.pcb
*.pcb-
*.pcb.bak
*.sch~
*.zip

# Output files
*.png
*.eps
*.ps

# Output directories
gerber/
oshpark/

# Binaries
bin/**

# Templates
templates/*.gnumeric
templates/*.sym

